<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
	
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>Spring Bootの基礎を学ぼう</title>
</head>

<body>
	<div th:if="${param.loggedIn}" style="color: green;">ログインしました。</div>
    <div th:if="${param.loggedOut}">ログアウトしました。</div>
	
	 <p sec:authorize="isAuthenticated()">
        ログインユーザー：<span sec:authentication="principal.username"></span><br>
        ロール：<span sec:authentication="principal.authorities"></span>
    </p>
	
	 <div sec:authorize="hasRole('ADMIN')">
		<h2>ユーザー登録フォーム</h2>
<!--	th:action="@{ルートパス}"でURLのregisterにフォームが送信されるように指定。-->
		<form th:action="@{/register}" method="post" th:object="${userRegisterForm}">
			<label for="userName">ユーザー名：</label>
			<input type="text" th:field="*{userName}"><br>
			<div th:if="${#fields.hasErrors('userName')}" th:errors="*{userName}" style="color:red;"></div>
			
			<label for="password">パスワード：</label>
			<input type="password" th:field="*{password}"><br>
			<div th:if="${#fields.hasErrors('password')}" th:errors="*{password}" style="color:red;"></div>
			
			<label for="roleId">ロール：</label>
			<select th:field="*{roleId}">
				<option value="1">一般ユーザー</option>
				<option value="2">管理者ユーザー</option>
			</select>
			<div th:if="${#fields.hasErrors('roleId')}" th:errors="*{roleId}" style="color:red;"></div>
			<button type="submit">登録</button>
		</form>
	</div>
	
	<!--	成功メッセージ・失敗メッセージがあれば表示-->
	<p th:if="${successMessege}" th:text="${seccessMessage}" style="color:green"></p>
	<p th:if="${failureMessage}" th:text="${failureMessage}" style="color:red"></p>
	
	<h2>ユーザーリスト</h2>
	<table border="1">
		<thead>
			<tr>
				<th>ID</th>
				<th>ユーザー名</th>
				<th>ロール</th>
			</tr>
		</thead>
		<tbody>
<!--		th:each属性を使う事でリストのデータを1つずつ取り出して繰り返し処理できる。-->
			<tr th:each="user : ${users}">
				<td th:text="${user.getUserId()}"></td>
				<td th:text="${user.getUserName()}"></td>
				<td>
					<span th:tf="${user.getRoleId() == 1}">一般ユーザー</span>
					<span th:if="${user.getRoleId() == 2}">管理者ユーザー</span>
				</td>
			</tr>
		</tbody>
	</table>	
</body>
</html>