<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>ユーザー登録</title>
</head>
<body>

    <h1>ユーザー登録フォーム</h1>

    <form th:action="@{/screen/user/add}" th:object="${user}" method="post">

        <!-- ユーザーID -->
        <div>
            <label for="userId">ユーザーID：</label>
            <input type="number" id="userId" th:field="*{userId}">
        </div>

        <!-- ユーザー名 -->
        <div>
            <label for="userName">ユーザー名：</label>
            <input type="text" id="userName" th:field="*{userName}">
        </div>

        <!-- パスワード -->
        <div>
            <label for="password">パスワード：</label>
            <input type="password" id="password" th:field="*{password}">
            <div th:errors="*{password}"></div> <!--バリデーションのエラーメッセージを表示したい-->
        </div>

        <button type="submit">登録</button>
    </form>

</body>
</html>