<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8">
	<title>ユーザー一覧（テスト）</title>
</head>

<body>
	<h1>ユーザー一覧（テスト表示）</h1>

	<table border="1">
		<thead>
			<tr>
				<th>ユーザーID</th>
				<th>ユーザー名</th>
				<th>パスワード（生）</th>
			</tr>
		</thead>
		<tbody>
			<!-- th:each ループ処理。${users} == addAttributeから受け取った箱。 -->
			<tr th:each="user : ${users}">
				<td th:text="${user.userId}">1</td> <!-- 箱の中のuserIdを取り出す。-->
				<td th:text="${user.userName}">sample_user</td>
				<td th:text="${user.password}">password</td>
			</tr>
		</tbody>
	</table>

	<br>

	<!-- ページネーション -->
	<div>
		<!-- ページが0（初期値）より大きい場合、前へと表示 -->
		<!-- th:hrefでcontrollerにリクエストを送信 -->
		<a th:if="${currentPage > 0}" th:href="@{/screen/all(page=${currentPage - 1})}">
			前へ
		</a>

		<!-- ページ番号リンクを現在ページ以外に表示 -->
		<span th:each="page : ${#numbers.sequence(0, totalPages - 1)}">
			<a th:if="${page != currentPage}" th:href="@{/screen/all(page=${page})}" th:text="${page + 1}">1</a>

			<!-- 現在ページと同じページ番号をstyleで強調表示 -->
			<span th:if="${page == currentPage}" th:text="${page + 1}"
				style="font-weight: bold; text-decoration: underline;">
				1
			</span>

			&nbsp;
		</span>

		<!-- 次へ -->
		<a th:if="${currentPage < totalPages - 1}" th:href="@{/screen/all(page=${currentPage + 1})}">
			次へ
		</a>
	</div>


</body>

</html>